* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
	width: 100%;
}

body {
	margin: 2% 10% 10% 10%;
	background: rgb(187, 233, 255);
}

section {
	margin: 0.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
    color: black;
	font-size: 1.255rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
    color: black;
	font-size: 1.255rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.greeting .title {
	display: flex;
	justify-content: center;
}

.greeting .title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.greeting .title, 
.greeting .title input {
	color:black;
	font-size: 1.5rem;
	font-weight: 500;
}

.add-card {
	display: flex;
	gap: 1rem
}

.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1rem;
	color: black;
	background-color: #FFF;
	border-radius: 2rem;
	margin-bottom: 1rem;
}

.create-todo input[type="submit"] {
	display: block;
	width: 20%;
	font-size: 1.125rem;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	background-color: rgb(94, 104, 238);
	border-radius: 3rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.create-todo .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to right, rgb(111, 172, 226),rgb(30, 178, 227));
	padding: 1.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.create-todo .options label::hover{
	transition: all 0.5s ease;
	cursor: pointer;
  	transform: scale(1.15);
  	filter: brightness(120%);
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid blue;
	
}

.bubble.personal {
	border-color: red;
	
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: blue;
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: red;
}

input:checked ~ .bubble::after {
	width: 12px;
	height: 10px;
	opacity: 1;
}

.create-todo .options label div {
	color:black;
	font-size: 1.125rem;
	margin-top: 1rem;
}

.create-todo input[type="submit"]:hover {
	transition: all 0.5s ease;
	cursor: pointer;
  	transform: scale(1.15);
  	filter: brightness(120%);
}

.todo-list .list {
	margin: 1rem 0;
}

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 2rem;
	margin-bottom: 1rem;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content {
	flex: 1 1 0%;
}

.todo-item .todo-content input {
	color: black;
	font-size: 1.125rem;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 2rem;
	color: rgb(26, 23, 23);
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
	
	transition: all 0.5s ease;
	cursor: pointer;
  	transform: scale(1.25);
  	filter: brightness(120%);
}

.todo-item .actions .edit {
	margin-right: 0.5rem;
	background-color: lightgreen;
}

.todo-item .actions .delete {
	background-color: lightcoral;
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: gray;
}