body {
  margin: 0px;
  background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(70,184,252,1) 100%);
  font-family: cursive;
  text-align: center;
  display: grid;
  justify-content: center;
}

.title-container {
  padding: 0px;
  display: inline;
  margin: 0px 0px 15px 0px;
}

.calculator {
  position: relative;
  height: auto;
  width: max-content;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(15, 15, 15);
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
    color: black;
}

.theme-toggler.active::before {
    background-color: #fff;
    content: 'Dark';
}

.theme-toggler::before {
  content:'Light';
  height: 30px;
  width: auto;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  background-color: #333;
  z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: 100%
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

.display-screen {
  border-radius: 20px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  text-align: end;
}

.calculator.dark .display-screen {
  border-radius: 20px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
}

button {
    height: 60px;
    width: 80px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #fbabb0;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #6eb9ff;
    color: #720f6e;
}
  
.calculator button.btn-equal {
  background-color: #5176ff;
  color: #000;
}

.calculator.dark {
  background-color: #071115;
}

.calculator.dark #display {
  color: #f8fafb;
}

.calculator.dark button#clear {
  background-color: #2d191e;
  color: #e60514;
}

.calculator.dark button.btn-number {
  background-color: #30335c;
  color: #d8d8ff;
}

.calculator.dark button.btn-operator {
  background-color: #23275e;
  color: #8b8dff;
}

.calculator.dark button.btn-equal {
  background-color: #0800a3;
  color: #ffffff;
}
